.book4-container {
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: #c85a42;
  color: #fff;
  margin: 20px;
}

.book4-cover-image {
  max-width: 200px;
  display: block;
  margin: auto;
  border: 3px solid #000;
}

.book4-header, .book4-main, .book4-footer {
  text-align: center;
  margin-bottom: 30px;
}

.book4-about-book, .book4-toc {
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
}

.book4-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.book4-text-title {
  font-size: 70px;
}