html, body,main {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Thai', sans-serif;
  }

  .howto {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    margin-right: 600px;
  }
  
  .bestseller {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    margin-right: 90px;
  }

  .info-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
  }
  
  .book-image {
    height: 40%;
    display: block;
  }

  .Oliver {
    font-size: 14px;
    font-weight: 700;
  }
  
  .writer{
    font-size: 15px;
    font-weight: 300;
    margin-top: 0%;
  }
  
  .translator {
    font-size: 15px;
    font-weight: 300;
  }
  
  .book-title-en {
    font-weight: 400;
    margin-top: 10px;
    margin-right: 80px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0%;
  }
  
  .book-subtitle {
    font-weight: 300;
    margin-top: 0%;
    margin-right: 80px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0%;
  }
  
  .book-title-th {
    font-weight: 700;
    margin-top: 10px;
    margin-right: 80px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0%;
  }
  
  .tagline {
    font-weight: 300;
    margin-top: 15px;
    margin-right: 80px;
    text-align: center;
    margin-top: 0%;
    
  }
  
  .quote-1 {
    font-weight: 500;
    margin-top: 20px;
    margin-right: 80px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0%;
  }
  .about-book{
    margin-right: 80px;
    text-align: center;
  }

  .book-title-th-page1{
    font-weight: 900;
    margin-top: 200px;
    font-size: 55px;
    margin-bottom: 0%;
  }

  .book-title-en-page1{
    font: medium sans-serif;
    font-weight: 900;
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 0%;
  }

  .book-subtitle-page1{
    font: medium sans-serif;
    font-weight: 900;
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 0%;
  }

  .Oliver-page1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    font-weight: 900;
    margin-top: 110px;
    margin-bottom: 0%;
  }

  .writer-page1{
    font-family: 'Noto Sans Thai', sans-serif;
    margin-bottom: 70px;
    margin-top: 5px;
  }

  .translator-page1{
    font-weight: 600;
    margin-bottom: 0%;
  }
  .translat{
    margin-bottom: 100px;
    margin-top: 5px;
  }

  .title-quote-2{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 20px;
    letter-spacing: 1em;
    margin-bottom: 0%;
  }

  .quote-2{
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 100px;
  }

  .Heter{
    margin-top: 500px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 500px;
  }

  .quote-Douglas{
    margin-top: 50px;
    font-weight: 500;
    margin-bottom: 0%;
    font-size: 20px;
  }
  .Douglas{
    margin-top: 0%;
    font-weight: 300;
    margin-bottom: 100px;
    font-style: italic;
    font-size: 18px;
  }

  .quote-charlotte{
    margin-top: 50px;
    font-weight: 500;
    margin-bottom: 0%;
    font-size: 20px;
  }

  .charlotte{
    margin-top: 0%;
    font-weight: 300;
    margin-bottom: 300px;
    font-style: italic;
    font-size: 18px;
  }

  button {
    margin-top: 30px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 600;
    background: none;
    border: 1px solid #c4c4c4;
    color: hsl(0, 0%, 0%);
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 50px;
  }
  
  button:hover {
    background-color: hsl(0, 0%, 0%);
    border-color:hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
  
  button:active {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
  

  .page-header {
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .header-1{
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    margin-bottom: 10px;
    margin-left: 150px;
  }
  .header-2{
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 150px;
  }

  ol {
    list-style-position: inside;
    padding-left: 0;
    justify-content: center;
    font-size: 18px;
  }
  
  ol li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 150px;
  }

  .postscript{
    margin-top: 50px;
  }

  .about-writter{
    margin-top: 50px;
  }
  
  .page-number {
    min-width: 30px;
    margin-right: 150px;
  }

  .blurb{
    font-weight: 300;
    margin-top: 300px;
    text-align: center;
    font-size: 18px;
  }

  .blurb-2{
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  footer {
    text-align: end;
    margin-top: auto; /* ดัน footer ลงล่าง */
    padding: 10px;
    font-size: 12px;
  }